<h1><%=t 'Log in'%></h1>
<div class="section section-lv2">
<h2><%= "パスワード" %></h2>
<% form_for :user, :url=>session_path do |f| -%>
<div>
<%= f.label :login %><br />
<%= f.text_field :login %>
</div>
<div>
<%= f.label :password %><br/>
<%= f.password_field :password %>
</div>
<div>
<%= f.check_box :remember_me %>
<%= f.label :remember_me %>
</div>
<div>
<%= submit_tag t('Log in') %>
</div>
<% end -%>
<%= link_to t("Sign up"), signup_path %>
</div>

<div class="section section-lv2">
<h2><%= "mixi OpenID" %></h2>
<% form_for :user, :url=>session_path do |f| -%>
<div>
<%= f.hidden_field :openid_url, :value=>"https://mixi.jp/" %>
<%= submit_tag 'mixiで認証' %>
</div>
<% end -%>
</div>

<div class="section section-lv2">
<h2><%= "yahoo OpenID" %></h2>
<% form_for :user, :url=>session_path do |f| -%>
<div>
<%= f.hidden_field :openid_url, :value=>"yahoo.co.jp" %>
<%= submit_tag 'yahooで認証' %>
</div>
<% end -%>
</div>

<div class="section section-lv2">
<h2><%= "google OpenID" %></h2>
<% form_for :user, :url=>session_path do |f| -%>
<div>
<%= f.hidden_field :openid_url,
:value=>"https://www.google.com/accounts/o8/id" %>
<%= submit_tag 'googleで認証' %>
</div>
<% end -%>
</div>

<div class="section section-lv2">
<h2><%= "OpenID" %></h2>
<% form_for :user, :url=>session_path do |f| -%>
<div>
<%= f.label :openid_url %><br />
<%= f.text_field :openid_url %>
</div>
<div>
<%= submit_tag 'OpenIDで認証' %>
</div>
<% end -%>
</div>