<h1><%=t 'Log in'%></h1>
<div class="section section-lv2">
<h2><%= "パスワード" %></h2>
<% form_for :user, :url=>session_path do |f| -%>
<div>
<%= f.label :login %><br />
<%= f.text_field :login, :autocomplete=>"off" %>
</div>
<div>
<%= f.label :password %><br/>
<%= f.password_field :password, :autocomplete=>"off" %>
</div>
<div>
<%= f.check_box :remember_me %>
<%= f.label :remember_me %>
</div>
<div>
<%= submit_tag t('Log in') %>
</div>
<% end -%>
<%= link_to t("Sign up"), signup_path %>
</div>

<div class="section section-lv2">
<h2><%= "OpenID" %></h2>
<% form_for :user, @user_open_id, :url=>session_path do |f| -%>
<div>
<%= f.select :openid_url, f.object.openid_url_mst %><br />
<%= submit_tag '認証' %>
</div>
<% end -%>
</div>


