<h1>Listing company_informations</h1>

<table>
  <tr>
    <th>Title</th>
  </tr>

<% @company_informations.each do |company_information| %>
  <tr>
    <td><%=h company_information.title %></td>
    <td>
      <% company_information.photos.each do |photo| %>
        <%= image_tag(photo.public_filename)%>
      <%end%>
    </td>
    <td><%= link_to 'Show', company_information %></td>
    <td><%= link_to 'Edit', edit_company_information_path(company_information) %></td>
    <td><%= link_to 'Destroy', company_information, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New company_information', new_company_information_path %>