<h1>Listing company_tmp_informations</h1>

<table>
  <tr>
    <th>Title</th>
  </tr>

<% @company_tmp_informations.each do |company_tmp_information| %>
  <tr>
    <td><%=h company_tmp_information.title %></td>
    <td>
      <% company_tmp_information.photos.each do |photo| %>
        <%= image_tag(photo.public_filename)%>
      <%end%>
    </td>
    <td><%= link_to 'Show', company_tmp_information %></td>
    <td><%= link_to 'Edit', edit_company_tmp_information_path(company_tmp_information) %></td>
    <td><%= link_to 'Destroy', company_tmp_information, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New company_tmp_information', new_company_tmp_information_path %>