<h1>Editing photo</h1>

<% form_for(@photo) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </p>
  <p>
  <% f.fields_for :photos do |photo_f| %>
    <%= photo_f.label :uploaded_data%><br />
    <%= photo_f.file_field :uploaded_data %><br />
  <% end %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @photo %> |
<%= link_to 'Back', photos_path %>