<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="content-style-type" content="text/css" />
  <meta http-equiv="content-script-type" content="text/javascript" />
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="0" />
  <title>Question*Answer <%= controller_name%></title>
  <%= stylesheet_link_tag 'import', :media=>"projection, screen" %><%#古いブラウザのためにmedia="projection, screen"を指定する%>
  <%= yield :style %><%# アクションで個別に読み込ませたかったらアクション内で content_for :style の中に書く %>
  <%#入れるのであればここにjsを%>
  <%= yield :script %>
</head>
<body class="<%= page_name%>">
<div id="header">
  <div id="current_login">
    <%if logged_in? -%>
      ようこそ<%=h current_user.display_login_name %>さん：<%=link_to t("Log out"), logout_path %>
    <%else -%>
      <%if login_link_necessary? -%>
        未ログイン：<%=link_to t("Log in"), login_url %>&nbsp;/&nbsp;<%=link_to t("Sign up"), signup_url %>
      <%end -%>
    <%end -%>
  </div>
  <div id="title"><%=link_to "Question*Answer", root_url %><span>Hoge And Moge</span></div>
  <p id="topic_path">
    <%= topic_path_link %>
  </p>
  <p id="notice"><%= flash[:notice] %></p>
</div>
<div id="container">
<%= yield %>
</div>
<div id="footer">
  <div id="footer-nav">
    <ul>
      <li><%= link_to "会社案内", root_url(:anchor=>'a') %></li>
      <li><%= link_to "サイトポリシー", root_url(:anchor=>'a') %></li>
      <li><%= link_to "リンク", root_url(:anchor=>'a') %></li>
      <li><%= link_to "著作権", root_url(:anchor=>'a') %></li>
      <li><%= link_to "個人情報保護方針", root_url(:anchor=>'a') %></li>
      <li><%= link_to "お問い合わせ", root_url(:anchor=>'a') %></li>
    </ul>
  </div>
  <p class="copyright">Copyright © 2011 HOGE MOGES Co.,Ltd. All Rights Reserved.</p>
</div>
  <%= login_path%>
  <%= login_url%>
</body>
</html>